# ==============================
# Build outputs
# ==============================
build/
out/
__pycache__/

*.o
*.obj
*.a
*.so

# Firmware outputs
*.elf
*.bin
*.hex
*.map

# CMake generated
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# bear compile database
compile_commands.json

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/

# ==============================
# Temporary files
# ==============================
*.log
*.tmp
*.bak
*.swp
*~