# ==============================
# Build outputs
# ==============================
build/
out/
__pycache__/

*.o
*.obj
#*.a # static library should be included
*.so

# Firmware outputs
*.elf
#*.bin # standard bootloader binary should be included
*.hex
*.map

# CMake generated
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
# Makefile # static library makefile

# bear compile database
compile_commands.json

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/

# ==============================
# Temporary files
# ==============================
*.log
*.tmp
*.bak
*.swp
*~

# ==============================
# python cache
# ==============================
__pycache__/
